rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null &&
        request.resource.data.diff(resource.data).affectedKeys().hasOnly(['friends']);
    }

    match /usernames/{name} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    match /profiles/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /friendRequests/{reqId} {
      allow get: if request.auth != null &&
        (resource.data.from == request.auth.uid || resource.data.to == request.auth.uid);
      allow list: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.from == request.auth.uid;
      allow delete: if request.auth != null &&
        (resource.data.from == request.auth.uid || resource.data.to == request.auth.uid);
    }
  }
}
